<main>
	<section id="blog-post">
		<div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
			<div class="row">
				<div class="col-md-9 center-block">
					<div class="sidemeta">
						
						<div class="post format-gallery">
							
							<div class="date-wrapper">
								<div class="date">
									<span class="day">{{creepypasta.creation_date| date:'d'}}</span>
									<span class="month">{{creepypasta.creation_date | date:'MMM'}}</span>
								</div><!-- /.date -->
							</div><!-- /.date-wrapper -->
							
							<div class="post-content">
								
								<p class="author"><a href="#" title="Post author" data-rel="tooltip" data-placement="left">{{creepypasta.user_id.username}}</a></p> 
								
								<h1 class="post-title">{{creepypasta.title}}</h1>

								<p>
									{{creepypasta.content}}
								</p>
								
							</div><!-- /.post-content -->
							
						</div><!-- /.post -->
						
						<div id="share" class="row">
							
							<div class="col-sm-4 reset-padding">
								<a href="#" ng-click="rateCreepypasta(true)" class="btn-share-md" ng-disabled="rated">
									<i class="icon-thumbs-up"></i>
								</a>
							</div><!-- /.col -->
							
							<div class="col-sm-4 reset-padding"> 
								<a href="#" ng-click="addFavorite()" class="btn-share-md">
									<i class="icon-star-empty-1"></i>
								</a>
							</div><!-- /.col -->
							
							<div class="col-sm-4 reset-padding">
								<a href="#" ng-click="rateCreepypasta(false)" class="btn-share-md" ng-disabled="rated">
									<i class="icon-thumbs-down"></i>
								</a>
							</div><!-- /.col -->
							
						</div><!-- /.share -->
						
						<div id="comments">
							<h2>Comments</h2>
							<div ng-hide="empty_comments">
								<ol class="commentlist">
									<li class="comment" ng-repeat="comment in comments">
										<div class="commentbody">
											
											<div class="author">
												<h3><a href="#">{{comment.user_id.username}}</a></h3>
												<div class="meta">
													<span class="date">{{comment.date | date: "dd MMM yyyy 'at' HH:mm"}}</span>
												</div><!-- /.meta -->
											</div><!-- /.author -->
											
											<div class="message">
												<p>{{comment.text}}</p>
											</div><!-- /.message -->
											
										</div><!-- /.commentbody -->
									</li><!-- /.comment -->
								</ol><!-- /.commentlist -->
							</div>
							<div ng-show="empty_comments">
								<h3>No comments made for this creepypasta. Be the first to comment.</h3>
							</div>
						</div><!-- /#comments -->
						
						<div class="comment-form-wrapper">
							<h2>Leave a Comment</h2>
							
							<form id="commentform" class="forms" ng-submit="postComment(newComment)">
								<div class="row">
									<div class="col-sm-12">
										<textarea name="message" ng-model="newComment.text" class="form-control" placeholder="Enter your comment ..."></textarea>
									</div><!-- /.col -->
								</div><!-- /.row -->
								
								<button type="submit" class="btn btn-default btn-submit">Submit comment</button>
								
							</form>
							
							<div id="response"></div>
						</div><!-- /.comment-form-wrapper -->
					
					</div><!-- /.sidemeta -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
</main>