

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="cancel()"><i class="icon-cancel-1"></i></span></button>
	<h4 class="modal-title" id="modal-notification02">Remove confirmation</h4>
</div><!-- /.modal-header -->

<!-- ============================================================= MODAL CONTENT ============================================================= -->

<div class="modal-body">
	
	<div class="container inner-xs text-center">
		<p>Are you sure you want to remove this creepypasta from your favorites?</p>
	</div><!-- /.container -->
	
</div><!-- /.modal-body -->

<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

<div class="modal-footer">
	<button type="button" class="btn btn-default" style="background-color:#F0F0F0" ng-click="ok()">Yes</button>
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div><!-- /.modal-footer -->
				
		